[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wemake-python-styleguide = "*"
pytest = "*"
requests = "*"
pytest-asyncio = "*"
faker = "*"

[packages]
fastapi = "*"
uvicorn = "*"
inject = "*"
asyncio-redis = "*"
aioredis = "*"
pydash = "*"
tldextract = "*"

[requires]
python_version = "3.8"
